*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


.error{
    color: red;
}

.root{
    display: flex;
    align-items: center;
    justify-content:center ;    
}

.document-flow{
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: #55495f;
    overflow: hidden;
    
}
.main-content{
    background-color: #fff;
    border-radius: 2rem;
    margin-left: -3rem;
    width: 84.2vw;
    height: 98vh;
    overflow-y: scroll;
    overflow-x: hidden; 
}