.container{
    /* background-color: tomato; */
    width: 97%;
}


.wrapper{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    gap: 20px;
    margin-top: 3rem;
    /* background-color: tomato; */
    /* overflow-y: scroll; */
}

.contain-data{
    border-radius: 20px 20px 0 0;
    background: #fff;
    box-shadow:  2px 2px 6px #f7f4f4,
                -2px -2px 6px #f7f4f4;
    /* box-shadow: cadetblue; */
    width: 300px;
    height: 320px;
    margin: 8px;
    position: relative;
    
}


 .more-option{
    border: 1px #f7f4f4 solid;
    position: absolute;
    right: 0.6rem;
    top: 0.6rem;
    height: 1.4rem;
    width: 2.4rem;
    text-align: center;
    border-radius: 1rem;
    cursor: pointer;
}

.more-option:hover{
    background-color: #fafafa;
}

.dropdown{
    position: absolute;
    /* border: 1px #f7f4f4 solid; */
    background: #f7f7f7;
    position: absolute;
    right: 0;
    top: 2.2rem;
    width: 3.8rem;
    height: 4rem;
    padding-top: 0.9rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 0.6rem;
    display: none;
} 



.dropdown p{
    /* background: chartreuse; */
    width: 100%;
    height: 2rem;
    cursor: pointer;
    /* border-radius: 0.3rem; */
}

.p-tag{
    margin-top: -0.9rem;
}

.dropdown p:hover{
    background: #eeeeee;
}


.dropdown-container:hover .dropdown{
    display: flex;
}

/* side add option */

.add-option{
    position: fixed;
    right: 0;
    /* background: #000; */
    border-radius: 23rem 0 0 23rem ;
}

.add-option:hover .side-svg{
    height: 22.2rem;
}

.add-option:hover .plusBtn-svg{
    height: 3.2rem;
}

.side-svg{
    position: relative;
    height: 22rem;
}

.plusBtn-svg{
    height: 3rem;
    top: 8.5rem;
    position: absolute;
    right: 2rem; 
    cursor: pointer;
}

/* Product Nav */
.product-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;

}


.circle{
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 50%;
    background-color: #000;
    color: #000;
}

.sort-filter{
    /* margin-right: 1.4rem; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 2.4rem;
    width: 6rem;
    border-radius: 24px;
    border: 1px solid rgb(252, 247, 247);
}

.sort-svg{
    height: 1.2rem;
}
.filter-svg{
    height: 1.4rem;
    margin-top: -4px;
}

/* Product Img */
.product-img{
    height: 14rem;
    width: 100%;
}

.product-details{
    margin-left: 1rem;
}

.name{
    font-weight: bolder;
}

.price{
    /* float: right; */
    margin-left: 11rem;
    color: #F8D210;
    display: inline-block;
    font-weight: bolder;

}

.color{
    margin-top: 1.6rem;
    display: inline-block;
    font-weight: normal;
}