:root{
    --sideBar: #55495f;
    --font: #F8D210;
}

.nav_bar{
    height: 100vh;
    width: 260px;
    background-color: var(--sideBar);
}

.nav_list{
    list-style-type: none;
    height: 100%;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nav_item{
    height: 3rem;
    margin: 1px;
}
 /* .nav_item:hover a{
    font-size: large;
}  */

.nav_item:hover .svg{
    height: 1.3rem;
}

.nav_item a{
    color: beige;
    text-decoration: none;
    width: 100px;
}
.nav_item a:hover{
    cursor: pointer;
}

.nav_item a:active{
    font-weight: bolder;
}

.selected{
    color: var(--font) !important;
}

.logout{
    margin-top: 84%;
    border: none;
    background: var(--sideBar);
    font-weight: normal;
    color: beige;
}

.userInfo{
    color: #fff;
    border: 1px solid rgb(252, 247, 247);
}

.logout-svg{
    height: 1.2rem;
}

.dashboard-svg{
    height: 1.2rem;
}
.product-svg{
    height: 1.2rem;
}
.icon{
    font-size: 1.2rem;
    color: #fff;
}
.about-svg{
    height: 1.2rem;
}
.settings-svg{
    height: 1.2rem
}
.container{
    margin-left: 2rem;
    margin-top: 4rem;
    padding-right: 2rem;
    /* background: cadetblue; */
}
.search-btn{
    border: none;
    height: 2.6rem;
    width: 4.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background: var(--sideBar);
}

.search-svg{
    height: 1.2rem;
}
