/* 
.big-container{
    position: absolute;
    left: 0;
    width: 100%;
    background: #fff;
    display: flex;
}

.form{
     background: chocolate; 
    width: 40%;
    height: 100vh;
    border-radius: 2.6rem 0 0 2.6rem;
    background: #90656A;
    padding: 2rem 1rem 0 1rem;
    color: #fff;
    overflow-y: scroll;
}

.side-content{
    /* background: #; s */
